.mainContainer-members {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 15, 63);
    height: 100vh;
    flex: 1;
    min-width: 0;
}

.mainContainer-members * {
    color: white;
}

.header-of-members h1{
    margin: 20px;
    color: #9ca3af;
    font-weight: bold;
}

.filter-of-members {
    border: 2px solid rgb(52, 51, 78);
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}

.filter-of-members hr {
    margin: 20px 0 20px 0;
}

.first-row-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-row-filter input {
    font-weight: bold;
    color: white;
    font-size: 1em;
    padding: 5px;
    background-color: #4f46e5;
    border: none;
}

.iconSearch {
    font-size: 1.5em;
    color: rgb(52, 51, 78);
}

.filter-input-div {
    padding: 5px;
    background-color: #4f46e5;
    border: 2px solid rgb(52, 51, 78);
    display: flex;
    align-items: center;
    border-radius: 5px;

}

.right-row-filter {
    display: flex;
    flex-direction: row;
}

.right-row-filter select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: #4f46e5;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.cell {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dataClients {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1.5fr 0.7fr 1.8fr;
    column-gap: 16px;
    align-items: center;
}

.right-row-filter button {
    padding: 10px 15px;
    border: 2px solid rgb(52, 51, 78);
    font-size: 1em;
    color: white;
    background-color: #4f46e5;
    border-radius: 5px;
}

.right-row-filter select {
    padding: 10px 15px;
    border: 2px solid rgb(52, 51, 78);
    font-size: 1em;
    background-color: #4f46e5;
    border-radius: 5px;
    color: white;
}

.right-row-filter * {
    margin: 0px 5px 0px 5px;
}

.partnershipsValue-div {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(52, 51, 78);
    margin: 10px 0px 10px 0px;
}

.dataClients {
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.dataClients p, h1 {
    margin: 0;
    padding: 0;
}

.firstDatas{
    color: #a9a8b0;
    font-weight: bold;
}

.filterspartnershipsValue-div {
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px 15px 0px;
}